<launch>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    	<param name="publish_frequency" type="double" value="20.0" />
  	</node>
  	<param name="robot_description" textfile="$(find robotino_description)/robotino_kinect.urdf" />

    <node type="rviz" name="rviz" pkg="rviz"  />
    <arg name="map_file" default="$(find kalman_loc_qr)/maps/casa.yaml"/>
    
    

    <node pkg="tf" type="static_transform_publisher" name="base_to_kinect" args="0.13 0.0 0.91 0 0 0 base_link kinect_link   50"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    

    <node name="ekf" pkg="kalman_loc_qr" type="ekf" output="screen">
        <rosparam command="load" file="$(find kalman_loc_qr)/params/ekf_config_k.yaml" />			
	</node>

    <node name="tf_map_odom" pkg="kalman_loc_qr" type="tf_map_odom" output="screen" >
    </node>
	

    <node name="landmarks_found" pkg="kalman_loc_qr" type="landmarks_found" output="screen">			
	</node>

    <node name="uncertanty_blob" pkg="kalman_loc_qr" type="uncertanty_blob" output="screen">			
	</node>
     <!-- Une el kinect a la base -->
   
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/diego/kk/Tesis/yolo/catkin_ws/dataset/corta.bag"/>



</launch>
