<!-- kz = kalman zed_stereo-->
<launch>
    
    
    <include file="$(find zed_wrapper)/launch/zed.launch" />

    <node name="aruco_finder" pkg="kalman_loc_qr" type="aruco_finder.py" output="screen">
        <param name="device" value="zed_stereo" />   
    </node>

    <node name="landmarks_from_pc" pkg="kalman_loc_qr" type="landmarks_from_pc" output="screen">
        <param name="device" value="zed_stereo" />
    </node>

    
    <!-- Une el kinect a la base -->
    <node pkg="tf" type="static_transform_publisher" name="zed_camera_to_kinect_link" args="0 0 0 0 0 0 depth_device_link base_link_zed  50"/> 

    


</launch>